<!DOCTYPE html>
<html>
	<head>
		<title>Valeria Burdea</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="https://valeriaburdea.github.io/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="https://valeriaburdea.github.io/">Home</a></li>
	        	<li><a href="https://valeriaburdea.github.io/about">Research</a></li>
        		<li><a href="https://valeriaburdea.github.io/cv">CV</a></li>
        		<li><a href="https://valeriaburdea.github.io/blog">Musings</a></li>
            <li><a href="https://valeriaburdea.github.io/blog">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Welcome to my website!</h1>
				<p>Here, you will find information about my <a href="https://valeriaburdea.github.io/CV">background and <a href="https://valeriaburdea.github.io/Research">research.</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:burdea.valeria@gmail.com">email</a></li>
        		</ul>
		</footer>
	</body>
</html>

